/*
    Document   : styles
    Created on : Apr 17, 2013, 1:40:25 PM
    Author     : Bogo
    Description:
        Purpose of the stylesheet follows.
*/

@import "../reindeer/legacy-styles.css";

/* Menubar */
.v-menubar {
	background-image: none !important;
	font-size: 16px;
	background-color: black !important;
	line-height: 50px; 
	text-align: left;
}

.v-menubar .v-menubar-menuitem {
	cursor: pointer;
	height: 50px !important;
	line-height: 40px !important;
	border-right: 1px solid;
	border-left: 1px solid;
	border-color: #000;
}

.v-menubar > .v-menubar-menuitem:first-child {
	/* color: #fff; */
        font-weight: bold;
	margin-right: 25px;
}

.v-menubar .v-menubar-menuitem.v-menubar-menuitem-checked {
	/* font-weight: bold; */
	background-color: #575757;
	color: #fff;
	border-color: #666;
}

.backendStatus {
	padding-right: 5.5em;
	padding-left: 1em;
}

.v-app {
    background-color: #ffffff;
}

.pipelineSettingsLayout {
	padding-left: 30px;
	background-color: #dddddd;
}

.dpuTreeLayout {
	/*padding-left: 30px;*/
	background-color: #dddddd;
}
.dpuDetailLayout{
	background-color: #fbfbfb;
}

.viewLayout {
	background-color: #ffffff;
}

.loginPanel {
	background-color: #000000;
	box-shadow: 0 2px 5px #999;
	z-index: 1;
}

.username {
	color: #dddddd;
	text-align: right;
}

.dpuTree {
	/*background-color: #dddddd;*/
}

.dpuDetailMainLayout {
}

.dpuDetailButtonBar {
	padding-top: 15px;
}

.v-select-optiongroup-horizontalgroup .v-select-option {
    display: inline-block;
}

.v-select-optiongroup-horizontalgroup {
    white-space: nowrap;
}


.v-select-optiongroup-horizontalgroup
.v-select-option.v-radiobutton {
    padding-right: 10px;
}



.v-label-warning {
	color: red;
}

/*.vLayoutScroll > div{
overflow: auto !important;
}*/

.v-link a:visited {
	color: gray;
}



.v-nativebutton-selectedtab {


	border-top: 1px solid #aaa;
	border-left: 1px solid #aaa;
	border-bottom: 1px solid #aaa;
	border-right: 1px solid #aaa;
	box-shadow: 0.3px -0.3px 6px gray inset;
	background-color: #aaa;
}

.v-nativebutton .v-nativebutton-left-text .v-nativebutton-caption {
      white-space: pre;
      text-side: left;
}

.v-nativebutton-multiline{
	

	border-top: 1px solid #ddd;
	border-left: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	border-right: 1px solid #ddd;
	background-color: #ddd;
	text-side: left;
}

.v-verticallayout-settings{
	padding-left: 15px;
	padding-right: 25px;
	padding-top: 15px;
	background-color: #fff;

	 
}

.scheduling{
		padding-left: 15px;
		padding-right: 25px;
		padding-top: 15px;
	    background-color: #eeeeee;
}

.graypanel {
	background-color: #dddddd;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.select-hide-tb {
	overflow: auto !important;
	
}

.v-select-select {
	overflow: auto !important;
}

.v-panel-deco {
	height: 0px;
	border: none;
	visibility: hidden;
}

.v-panel-deco-viewLayout {
	visibility: hidden;
}

.v-tree-node-public {
	color: #000000;
}

.v-tree-node-private {
	color: #5CA0DF
}

.v-table-empty .v-table-body {
    background-image: url('img/no_data.png');
    background-repeat: no-repeat;
    background-position: center center;
}

.v-table-cell-content-link {
	color: blue;
	cursor: pointer;
}

.loginError {
	background-color: red;
	color: white;
	font-size: 20px;
	font-weight: bold;
	padding: 8px;
}

.v-checkbox-private { 
	color: #5CA0DF
}

.editConflicts {
	padding: 4px;
	margin-top: 10px;
	margin-left: 100px;
	background-color: #e66;
	font-weight: bold;
}

.readOnlyLabel {
	color: #e66;
	padding-left: 4px;
	font-weight: bold;
}

.clickable-table-cell {
	cursor: pointer;
}

.dpu-error-label{
	color:red;
}